body {
    background-color: lightblue;
  }
.top
{text-align: center;


    color: blue;
    border-style: dotted;
    border-color: brown;
    background-color: rgb(209, 142, 142);

}
.top2
{text-align: center;

    color: rgb(147, 15, 35);
    border-style: double;
    border-color: azure;
    background-color: blueviolet;

}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;    
      }
.text1{
  text-align: center;
  color: rgb(55, 135, 204);
  border-style: groove;
  background-color: beige;

}   
table, th, td {
  border: 1px solid;
}
.text2{
  text-align: center;
  color: rgb(15, 90, 155);
  border-style: groove;
  background-color: rgb(229, 229, 76);
}   
.text3{
   text-align: center;
  color: rgb(9, 57, 98);
  border-style: groove;
  background-color: rgb(17, 183, 100);

}
.text4{
  color: antiquewhite;
  border-style: dotted;
  background-color: black;

}
.link{
  text-align: center;
  color: rgb(1, 11, 20);
  border-style: groove;
  background-color: rgb(222, 212, 227);

}